body {
  background-image: url("./beige_background.webp");
}

.headbar {
  display: flex;
  /*justify-content: space-between;*/
  padding: 10px;
  background-color: black;
  position: fixed;
  z-index: 99;
  width: 100%;
  opacity: 0.85;
}

.headbar_element {
  padding: 0 70px 0 0;
  background: transparent;
  border: none;
  font-family: "Sans-serif";
  color: white;
  font-size: 120%;
}

.top_button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#name {
  padding: 0 500px 0 0;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Lucida Handwriting", cursive;
  font-size: 150%;
}

#divider {
  font-size: 200%;
}

.body_sec {
  display: flex;
}

.paragraph_border {
  position: relative;
  top: 50px;
  left: 200px;
  font-size: 110%;
  background-color: white;
  border-radius: 10%;
  height: 500px;
  width: 700px;
}

.paragraph {
  position: relative;
  top: 30px;
  left: 30px;
}







/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
